h1{
    background-color: rgb(80, 133, 133);

}
#repos{
    border-left: solid red;
    
}
img.dp{
    float: center;
    border-radius: 50%;
    height: 180px;
    max-width: auto;
    align-content: center;
}

