<h1>GitSearch</h1>
<div class="container-fluid">
    <div>
        
    </div>
    <h2 class="text-center">Search Github users and repositories</h2>
    <hr>
    <div class="row">
        <div class="col-md-4 ">
            <img src="assets/dp1.jpg" class="img-circle float-left" alt="Abdihakim" > 
            <h5>Abdihakim Muhumed</h5>
        </div>
        <div class="col-md-4" id="repos">
            <h5>Repositories</h5>
            <ul>
                <li>Goals</li>
                <li>Quotes</li>
                <li>Foods</li>
                <li>HelloWorld</li>
            </ul>
        </div>
    </div>
</div>