
<div class="fluid">
    <div class="row">
        <div class="col-md-6">
            <form >
                <label for="userName">Username:</label>
                <input id="userName" type="text" name="userName">
                <button class="btn btn-success">Search</button>
            </form>
        </div>
        <div class="col-md-6">
            <form >
                <label for="name">Repository:</label>
                <input id="name" type="text" name="name">
                <button class="btn btn-success">Search</button>
            </form>
        </div>
    </div>
    
</div>